/* Centrar todo el contenido en el body */
html, body {
    background-image: linear-gradient(to left, rgb(207, 207, 207), rgb(255, 255, 255));
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px;
    z-index: 1; /* Asegura que el formulario esté por encima del fondo */
}

h1.h1Bienvenidos, h2.h2Bienvenidos {
    margin-top: 20px;
    margin-bottom: 20px; /* Ajusta según sea necesario */
}

footer {
    width: 100%;
    padding: 20px;
    background-color: #150a28d8;
    color: white;
    text-align: center;
    box-shadow: 5px 2px 15px #2e2e2e;
    border-radius: 0 0 30px 30px;
}

/* Contenedor de redes sociales */
.contenedorRedes {
    margin-top: 60px;
    min-height: 100%; /* Asegura que tome todo el alto posible */
    width: 100%;
    background-color: rgb(0, 0, 0);
    display: flex; /* Asegura que abarque todo el contenedor interno */
    justify-content: center;
    align-items: center;
}

/* Estilos para el contenedor de redes sociales */
.contenedorRedesInterno {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 40px;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 100%; /* Asegura que el contenedor interno se ajuste al contenedor externo */
    max-width: 1200px; /* Controla el ancho máximo */
}

/* Elementos individuales de redes sociales */
.divRedesInterno1,
.divRedesInterno2,
.divRedesInterno3 {
    color: white;
    padding: 60px 50px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    text-align: center;
    width: 100%;
}

/* Estilos responsivos para el formulario */

@media screen and (max-width: 768px) {
   
    .contenedorRedesInterno {
        grid-template-columns: 1fr;
        gap: 10px;
    }
    .contenedor {
        display: grid;
        grid-template-columns: auto;
        z-index: 1;
    }
}

/* Ajustes adicionales para pantallas medianas */
@media screen and (max-width: 1200px) {
    .contenedor{
        margin-top: 400px;
    }
    .contenedorRedesInterno {
        grid-template-columns: auto;
        gap: 20px;
    }
}
